.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .image-item {
    text-align: center;
    width: 200px; /* Adjust as needed */
    border-radius: 5px;
    border-style:double;
    border-color: #E7CAAB;
    border-width: 10px;
  }

   body{
    background-image: linear-gradient(to right,#e9e8e6,#E7CAAB);
  }

  img {
    max-width: 100%;
    border-radius: 5px;
  }
  