.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .video-item {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 350px; /* Adjust as needed */
    height: 180px;
  }
  
  img {
    max-width: 100%;
    border-radius: 5px;
  }

  body{
    background-image: linear-gradient(to right,#f8eddf,#ffcc99,#f5e65e,#b9f8b1,#c3f8f8);
}
  